app {
  name = "Spark"
  version = "1.0.0"
  spark {
    consumer {
      master = "local[*]"
      name = "Spark:Consumer"
      interval = "10 seconds"
    }
  }
  cassandra {
    host = "YOUR_CASSANDRA_HOST"
    port = "9042"
    keyspace = "stuff"
    table = "weather"
    user = "cassandra"
    pass = "cassandra"
  }
  database {
    host = "YOUR_DATABASE_HOST"
    port = "YOUR_DATABASE_PORT"
    db = "db"
    user = "edw_admin_user"
    pass = "edw_admin_user"
  }
  kafka {
    host = "YOUR_KAFKA_HOST"
    port = "9093"
    topic = "weather"
    checkpoint = "/tmp/kafka-checkpoints"
    offset = "earliest"
  }
}
